<%= form_with(url: "/flights", method: "get") do |f| %>
  <%= f.select :departure_airport_id, options_for_select(@airport_options) %>
  <%= f.select :arrival_airport_id, options_for_select(@airport_options) %>
  <%= f.select :num_tickets, options_for_select(@passenger_options) %>
  <%= f.date_select :departure_date, order: [:year, :month, :day], start_year: Time.now.year, end_year: Time.now.year %>
  
  <%= submit_tag("Search") %>
<% end %>

<% unless @flights.empty? %>
  <%= form_with(url: "bookings/new", method: "get") do |f| %>
    <% @flights.each do |flight| %>
      <p>Origin: </p>
      <%= Airport.find(flight.departure_airport_id).airport_code %>  
      <p>Destination: </p>
      <%= Airport.find(flight.arrival_airport_id).airport_code %>
      <p>Date of departure: </p>
      <%= flight.departure_date %>
      <p>Time of departure: </p>
      <%= flight.departure_date.strftime("%I:%M%p") %>
      <p>Flight duration: </p>
      <%= flight.flight_duration %>
      <%= f.radio_button :flight_id, flight.id %>
    <% end %>
    
    <%= f.hidden_field :num_tickets, value: @num_tickets %>
    <%= f.submit("Book Flight") %>
  <% end %>
<% end %>