<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'styles' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">
    <div class="header">
      <p><%= link_to "Odin Flights", root_path %></p>
    </div>
    
    <div class="form_decoration"><p>AIR BOOKING</p><%= image_tag 'airplane', class: 'airplane' %></div>
    <div class="content">
      <%= yield %>      
    </div>
  </div>
  </body>
</html>
